In [1]:
import numpy as np
import pandas as pd

In [2]:
df_nodes = pd.read_csv('CountryNodes_Influenza232.csv', header = 0)
df_nodes.head(2)

,Country,Region,UN_Region,Influenza2005,Influenza2006,Influenza2007,Influenza2008,Influenza2009,Influenza2010,Influenza2011,Influenza2012,Influenza2013,Influenza2014,Influenza2015,Influenza2016,Influenza2017,Influenza2018,Influenza2019
0,Australia,Australia New Zealand,Oceania,712.0,259.0,1355.0,768.0,5107.0,1252.0,2040.0,4798.0,2002.0,3473.0,3622.0,6705.0,10509.0,4264.0,14002.0
1,New Zealand,Australia New Zealand,Oceania,269.0,285.0,207.0,548.0,1542.0,326.0,1218.0,2261.0,2185.0,3418.0,5102.0,294.0,945.0,475.0,957.0

In [3]:
# check the number of distinct countries:
len(df_nodes['Country'].unique())

232

In [4]:
df_links = pd.read_csv('EdgeList_All.csv', header = 0)
df_links.head(2)

,Destination,Origin,flow2000,flow2005,flow2010,flow2015,flow2019,increase_rate_2000_2005,increase_rate_2005_2010,increase_rate_2010_2015,increase_rate_2015_2019
0,Afghanistan,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# check the number of distinct countries in df_links
len(df_links['Destination'].unique())

232

In [6]:
# check if these two distinct lists are the same
a = set(df_nodes['Country'].unique())
b = set(df_links['Destination'].unique())
c = a.difference(b)
c

{'CuraÃ§ao', "CÃ´te d'Ivoire", 'RÃ©union'}

In [7]:
d = b.difference(a)
d

{'Curaçao', "Côte d'Ivoire", 'Réunion'}

## 1 change Curacao

In [8]:
# change replace names in df_nodes
index1 = df_nodes.loc[df_nodes['Country'] == list(c)[0]].index.tolist()
index1

[191]

In [9]:
df_nodes.loc[index1, ['Country']] = list(d)[0]

In [10]:
df_nodes.iloc[52]

Country                   RÃ©union
Region              Eastern Africa
UN_Region        Sub_Saharan Arica
Influenza2005                    0
Influenza2006                    0
Influenza2007                    0
Influenza2008                    0
Influenza2009                    0
Influenza2010                    0
Influenza2011                    0
Influenza2012                    0
Influenza2013                    0
Influenza2014                    0
Influenza2015                    0
Influenza2016                    0
Influenza2017                    0
Influenza2018                    0
Influenza2019                    0
Name: 52, dtype: object

## 2 change  Côte d'Ivoire

In [11]:
# change replace names in df_nodes
index2 = df_nodes.loc[df_nodes['Country'] == list(c)[1]].index.tolist()
index2

[11]

In [12]:
df_nodes.loc[index2, ['Country']] = list(d)[1]

In [13]:
df_nodes.iloc[191]

Country                    Réunion
Region              Western Africa
UN_Region        Sub_Saharan Arica
Influenza2005                    0
Influenza2006                    0
Influenza2007                    0
Influenza2008                    0
Influenza2009                  344
Influenza2010                  214
Influenza2011                  417
Influenza2012                  261
Influenza2013                  351
Influenza2014                  212
Influenza2015                  287
Influenza2016                  360
Influenza2017                  337
Influenza2018                  262
Influenza2019                  458
Name: 191, dtype: object

## 3 change  Réunion

In [14]:
# change replace names in df_nodes
index3 = df_nodes.loc[df_nodes['Country'] == list(c)[2]].index.tolist()
index3

[52]

In [15]:
df_nodes.loc[index3, ['Country']] = list(d)[2]

In [16]:
df_nodes.iloc[11]

Country                                  Curaçao
Region                                 Caribbean
UN_Region        Latin America and The Caribbean
Influenza2005                                  0
Influenza2006                                  0
Influenza2007                                  0
Influenza2008                                  0
Influenza2009                                  0
Influenza2010                                  0
Influenza2011                                  0
Influenza2012                                  0
Influenza2013                                  0
Influenza2014                                  0
Influenza2015                                  0
Influenza2016                                  0
Influenza2017                                  0
Influenza2018                                  0
Influenza2019                                  0
Name: 11, dtype: object

## Export new nodes csv

In [17]:
df_nodes.to_csv('CountryNodes_Influenza232_updated.csv', index=False)